<launch>
  <!--  Process Xacro to URDF -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find ackermann_simulation)/urdf/ackermann_car.urdf.xacro'" />

  <!--  Start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Add robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Adding tf publisher-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_base_link"
      args="0 0 0 0 0 0 world base_link" />

  <!--  Spawn the robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model ackermann_car"
        output="screen" />

  <!--  Load controller config -->
  <rosparam file="$(find ackermann_simulation)/config/ironclad_controllers.yaml" command="load" ns="ack"/>

  <!--  Spawn controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
        args="front_steering_controller rear_drive_controller" ns="ack" />

  <!--  Argument to pass model path for target -->
  <arg name="model_path" default="$(find ackermann_simulation)/urdf/target.urdf.xacro"/>

  <!--  Start your target spawner node -->
  <node name="target_spawner" pkg="ackermann_simulation" type="target_spawner" output="screen">
    <param name="urdf_path" value="$(arg model_path)"/>
  </node>

  <!-- Adding pose to tf transform -->
  <!--node name="pose_to_tf" pkg="ackermann_simulation" type="pose_to_tf" output="screen" -->
  <!-- /node -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ackermann_simulation)/rviz/ironclad_sim.rviz" />

  <!-- Adding rosbag to log position information for plotting results -->
  <node pkg="rosbag" type="record" name="trajectory_log"
        args="-O /home/maria/ironclad_ws/src/informatics/src/raw_trajectory /pose" 
        output = "screen"/>

</launch>